<div class="well">
  <div class="row">
    <div class="text-center">
      <h2>Welcome to Buffer, the social scheduler</h2>
      <p>Save pages to post. And post those pages once, across all your networks.</p>

      <%= link_to "Log in", new_user_session_path, class: "btn btn-default" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>

<div class="text-center">
  <%= image_tag 'social_bg.jpg', width: '600px' %>
</div>